  <% include header %>
  <script data-main="/js/createPaste" src="/js/components/requirejs/require.js"></script>
  <header class="row">
    <div class="col-6">Sample</div>
    <div class="col-6">
      <button id="upload-button" class="btn btn-primary">Upload</button>
    </div>
  </header>
  <% include footer %>