  <% include header %>
  <script data-main="/js/createPaste" src="/js/components/requirejs/require.js"></script>
  <header class="expanded row toolbar">
    <div class="columns small-4">
      <a id="home-button" class="button secondary" href="/"><i class="icon icon-home"></i></a>
      <p class="head-text">New Paste</p> 
    </div>

    <div class="columns small-4 text-right no-padding">
      <div>-</div>
      <!-- <button id="config-button" class="button secondary"><i class="icon icon-wrench"></i></button> -->
      <!-- <button id="expiration-button" class="button secondary"><i class="icon icon-clock"></i></button> -->
    </div>
  
    <div class="columns small-3">
      <% include language-dropdown %>
    </div>
    <div class="columns small-1 text-left no-padding">
      <button id="upload-button" class="button primary no-padding"><i class="icon icon-floppy"></i></button>
      <button id="review-button" class="button alert no-padding hide"><i class="icon icon-floppy"></i></button>
    </div>

    <!-- Popup Modal -->
    <div class="modal fade">

      <div class="block text-center">
        <h3>More Secure</h3>
        <label> Site Link
          <input id="site-box" class="copy-box" value="">
        </label>
        <label>Private Key
          <input id="priv-box" class="copy-box" value="">
        </label>
      </div>
      
      <div class="block text-center">
        <h3>More Convenient</h3>
        <label>Site + Private
          <input id="site-priv-box" class="copy-box" value="">
        </label>
      </div>
      
      <div class="block">
        <p>Be advised that using the 'more convenient' link exposes the private key to the internet & the server.</p>
        <p>For extra privacy, utilize the 'more secure' option which seperates the key from the paste request. Feel free to visit the project on Github and take encryption into your control.</p>
      </div>
    </div>
    <!-- End Modal -->

  </header>
  <% include footer %>