<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DustBin</title>
  <!-- <link rel="stylesheet" href="/css/vendor/iconarchive.css"> -->
  <link rel="stylesheet" href="/js/components/select2/dist/css/select2.css">
  <link rel="stylesheet" href="/css/vendor/fontello-embedded.css">
  <link rel="stylesheet" href="/css/vendor/foundation.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>