<% include header %>
<script data-main="/js/loadPaste" src="/js/components/requirejs/require.js"></script>
<header class="extended row toolbar">
  <div class="columns small-12">
    <button id="home-button" class="button secondary"><i class="icon icon-home"></i></button>
    <p class="head-text">Request Paste</p> 
  </div>
  <!-- <div class="col-6">
    <input id="unlock-hash" type="text" value="f28d759399c13cee0852517bc146fd9108408d01">
  </div>
  <div class="col-6">
    <button id="unlock-paste-button" class="button primary">Get Paste</button>
  </div> -->
</header>
<% include footer %>