<% include header %>
<script data-main="/js/loadPaste" src="/js/components/requirejs/require.js"></script>
<header class="extended row toolbar">
  <div class="columns small-12">
    <button id="home-button" class="button secondary"><i class="icon icon-home"></i></button>
    <p class="head-text">Request Paste</p> 
  </div>
  
  <!-- Modal Start -->
  <div class="modal fade">
    <div class="block text-center">
      <label>Private Key
        <input id="paste-box" value="" placeholder="fd65eca6a3347c3c02582e32bebab9dfd1bf8c69">
        <button id="decrypt-btn" class="button">Decrypt</button>
      </label>
    </div>
  </div>
  <!-- Modal End -->

</header>
<% include footer %>