/* Rig to get the coding box to fit 100% 
   Don't add to these. Keep them seperate intentionally */
html, body {
  height: 100%;
  background-color: #2A2A2A;
}
.editor-container {
  height: calc(100% - 52px);
}
#editor { 
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
}

/* All other styles */

body {
  min-width: 650px;
}

.no-padding {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

.head-text {
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
  display: inline;
}

.toolbar {
  color: white;
  background-color: #2A2A2A;
  border-bottom: 1px solid #4a4a4a;
  margin-left: 0;
  margin-right: 0;
}

.select-box {
  margin: 10px 0;
  height: 30px;
  padding-left: 0;
}

.icon {
  font-size: 20px;
}

/* Buttons */
.button {
  /*width: 100%;*/
  /*max-width: 28px;*/
  margin: 10px 0;
  padding: 3px 10px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  -webkit-font-smoothing: antialiased;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.button:focus {
  background: none;
}

.primary {
  border-top: 1px solid #61a8d6;
}

.secondary {
  border-top: 1px solid #989898;
}


.select2-container {
  width: 100% !important;
  margin-top: 10px;
}

