<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
  <input id="key" type="text">
  <button id="submit">Submit Hash</button>
  <script src="js/components/jquery/dist/jquery.js"></script>
  <script src="js/loadPaste.js"></script>
</body>
</html>